.ak-renderer-document{
    padding-top: 5px;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 21px;
    max-width: 600px;
    padding-bottom: 30px;
    font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;
    
}

sup{
    font-weight: bold;
    color: brown;
    font-weight: bold;
}


span[class*='FieldStyles__Span']{
    font-weight:bold !important;
    color: black !important;
    font-size: 16px !important;
}

div[role='presentation']>span[class*='FieldStyles']{
    font-weight:200 !important;
    color:darkgrey !important;
    font-size: 14px !important;
}

div[class*='LayoutStyles__AvatarSectionDiv']>div>span{
    width: 45px;
    height: 45px;
}

div[class='sc-hrWEMg hxTsoT']{
    width: 1200px;
}

div[class="sc-eEieub dNPZIs"]{
    max-width: fit-content;
}

div[class="sc-bwCtUz hgynyE"]{
    padding-left: 0px;
    padding-right: 0px;
}

div[class="sc-jRuhRL KKJJX"]{
    max-width: fit-content;
}

header[data-test-id="request-details.summary"]>div>div>h1{
    font-weight: bolder;
}